<p>Hello <%= question_owner.full_name %>,</p>
<p>You've got an answer to your questions</p>
<p>Question title: <%= @question.title %></p>
<p>Answer body: <%= @answer.title %></p>
<p>Regards,</p>
<p>Awesome Answers!</p>
